/* Éléments généraux */
html, body {
    margin: 0;
    height: 100%;
    width: 100%;
    background-color: var(--blue);
    font-family: 'Electrolize', sans-serif;
    text-align: justify; 
}

h1, h2, h3, h4 {
    margin: 0;
    font-family: 'Handel Gothic', sans-serif;
}

figcaption {
    color: gray;
    font-style: italic;
}




/* Fonts */
@font-face {
    font-family: "Handel Gothic";
    src: url(ressources/HANDGOTN.TTF) format("truetype");
}



/* Animations */
@keyframes left-panel-appear {
    0% {margin-left: -100%;}
    100% {margin-left: 0;}
}
@keyframes sections-appear {
    0% {margin-top: 100vh;}
    50% {margin-top: 100vh;} 
    100% {margin-top: 0;}
}
@keyframes left-panel-disappear {
    0% {margin-left: 0%;}
    100% {margin-left: -100%;}
}



/* Variables */
:root {
    --light-blue: #318ce7;
    --blue: #006496;
    --dark-blue: #013955;
    --orange: #FA5C2F;
}


/* Span */
.orange {
    color: var(--orange);
}






/* Left Panel */
#left-panel {
    z-index: 10;
    font-family: 'Handel Gothic', sans-serif;
    font-size: 1.5em;
    text-align: center;
    color: whitesmoke;
    position: fixed;
    left: 0;
    height: 100%;
    width: 29%;
    margin: 0;
    background-image: url("ressources/footer_lodyas.png");
    animation-name: left-panel-appear;
    animation-duration: 1.5s;
}
    /* Menu */
    #menu{
        margin-top: 50vh; 
        transform: translateY(-70%); 
    }

        /* Menu Head */
        #name {
            color: white;
            font-size: 1.8em;
            margin: 15px 0;
        }
        #email {
            font-family: Electrolize;
            color: var(--blue);
            font-style: italic;
            font-weight: bold;
            text-decoration: none;
            overflow-wrap: break-word;  
        }
        #email p:hover {
            background-color: rgba(0,0,0,0.15);
            color: var(--light-blue);
            transition: background-color 0.5s, color 0.5s;
        }

        /* Liens */
        #menu-list {
            margin-top: 20px;
            padding: 0;
        }  
        #menu-list a {
            text-decoration: none;
        }
        #menu-list p {
            width: 100%;
            transition: background-color 0.5s, color 0.5s;
            font-weight: bold;
            text-decoration: none;
            color: whitesmoke;
        }
        #menu-list p:hover {
            background-color: rgba(0,0,0,0.15);
            color: var(--orange);
        }

    /* Footer */
    #footer {
        width: inherit;
        position: fixed;
        margin: auto;
        bottom: 10px;    
    }
    #footer span {
        font-size: 1.5em;
        margin-left: 20%;
    }
    .ion-social-facebook {
        color: #3b5998;
        margin: 0 !important;
    }
    .ion-social-github {
        color: #6e5494;
    }
    .ion-social-linkedin {
        color: #007bb5;
    }
    #footer span:hover {
        color: whitesmoke;
        transition: color 0.5s;
    }
    





/* Corps */ 
#corps {
    position: absolute;
    top: 0;
    left: 30%;
    width: 69%;
}
    /* Section */
    .section{
        background-color: white;
        min-height: 100vh;
        padding: 20px 0;
        animation-name: sections-appear;
        animation-duration: 3s;
    }
    
        /* Titre */
        .titre {
            font-size: 2em;
            background-color:  var(--blue);
            color: white;
            text-align: center;
            border-top: 2px solid var(--dark-blue);
            border-bottom: 2px solid var(--dark-blue);
            margin-bottom: 20px;
        }

        /* Paragraphe */
        .paragraphe {
            padding: 0 15%;
        }
        .paragraphe ul{
            list-style: circle;
        }
        .paragraphe h3{
            color: #006496;
        }
        .paragraphe .images  {
            text-align: center;
            align-content: center;
            align-items: center;
        }
        .paragraphe .images img {
            width: 100%;
            margin: auto;
        }

        /* Text-Bloc */
        .text-block {
            margin: 50px 0;
        }

        /* Project */
        .project {
            text-align: center;
        }

        /* img-overview */
        .img-overview {
            display: inline-block;
            vertical-align: top;
            width: 45%;
        }
        .img-overview img{
            width: 100%;
        }

        /* project-details */
        .project-details {
            display: inline-block;
            width: 45%;
            text-align: justify;
        }
    
    /* Home */
    #home .paragraphe{
        color: var(--blue);
        text-align: center;
        font-family: 'VT323', cursive;
        font-size: 3em;
        margin-top: 50vh;
        transform: translateY(-60%);
    }
    #home .titre {
        margin-top: 10%;
        color: var(--dark-blue);
        border: none;
        background-color: rgba(0,0,0,0);
        width: 100%;
    }

    /* Page-Bottom */
    #page-bottom {
        bottom: 0;
        background-color: rgba(0,0,0,0.15);
        position: absolute;
        width: 100%;
        color: #707070;
    }
    #page-bottom p {
        padding-left: 50px;
        margin: 0;
    }

    



   

/* Media Queries */
@media only screen and (max-width: 1150px){
    #home .paragraphe {
        margin: 0;
        transform: initial;
    }

    #home .titre {
        margin-top: 20px;
    }
}
@media only screen and (max-width: 768px){
    #left-panel {
        animation-name: left-panel-disappear;
        margin-left: -100%;
        animation-duration: 1.5s;        
    }
    #corps {
        left: 0;
        width: 100%;
        background-color: white;
    }
    .paragraphe {
        padding: 0 20px;
    }
}