#logo:hover {
    cursor: pointer;
}

.trailer {
    max-width: 100%;
}

#main > section.one {
    background-color: #FFF;
    background-image: initial;
}

.container > p, h3 {
    text-align: initial;
}

strong {
    font-weight: 400;
}

#images{
    display: inline;
    text-align: center;
}
#images figure{
    vertical-align: top;
    display: inline-block;
    width: 45%;
    min-width: 300px;

}
#images figure img{
    max-width: 100%;
}